@charset "utf-8";
* {
    color:#eaf4fc;
}
body{
    background-color: #5a544b;
}
.title{
    background-image: url("../img/header.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    padding: 0px 0px 0px 50px;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;
  }
  .main_contents h1{
    overflow: hidden;
    padding-left: 2vw;
    border-left: solid 1vw #c5c56a;
    background-color: #43676b;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    display: block;
    font-size: 25px;
    line-height: 2;
  }
  .main_contents h2{
    padding-left: 0.5vw;
    margin-left: 3vw;
    border-bottom: solid 0.1vw #cccccc;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    display: block;
    font-size: 23px;
    line-height: 2;
  }
  .main_contents p{
    margin-left: 4vw;
    margin-right: 8vw;
    margin-bottom: 2vw;
    display: block;
    font-size: 20px;
    line-height: 30px;
    padding-left:1em;
    text-indent:-1em;
  }
  .main_contents img{
    padding-left: 0.5vw;
    margin-left: 3vw;
  }
  input {
    color: #eaf4fc;
    background-color: #43676b;
  }